*/packages/*
/packages/*
!packages/repositories.config
obj/
bin/
TestResults/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
*.sdf
*.tmp

# Database files
*.mdf
*.ldf
*.ndf
App_Data/*.mdf
App_Data/*.ldf

# Visual Studio
.vs/
*.user
*.userosscache

# Upgrade logs
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/

# TFS Temp files
TFSTemp/
**/TFSTemp/**